# Byte-compiled / optimized / DLL files
.cache
.DS_Store*
*.pyc
*.out
.swp

matplotsoccer/*
anims/*

@eaDir
__pycache__/*
.cache/*

socceraction/atomic/*
socceraction/__pycache__/*
socceraction/@eaDir/*
socceraction/data/__pycache__/*
socceraction/data/@eaDir/*
socceraction/data/opta/*
socceraction/data/rdd/*
socceraction/data/wyscout/*
socceraction/doc/*
socceraction/spadl/__pycache__/*
socceraction/spadl/@eaDir/*
socceraction/spadl/opta.py
socceraction/spadl/rdd.py
socceraction/spadl/wyscout.py
socceraction/vdep/__pycache__/*
socceraction/vdep/@eaDir/*

socceraction/actiontypes.xlsx
socceraction/xthreat.py

20230708wc2022.txt